<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= current_page.data.title || "mss.band" %> - Musicians, Singers & Songwriters Meetups</title>

  <meta property="og:type" content="website">
  <meta property="twitter:card" content="summary_large_image">

  <meta name="title" content="<%= song.title %> by <%= song.artist %>">
  <meta property="og:title" content="<%= song.title %> by <%= song.artist %>">
  <meta property="twitter:title" content="<%= song.title %> by <%= song.artist %>">

  <meta name="description" content="Song chart of chords and lyrics for <%= song.title %> by <%= song.artist %>">
  <meta property="og:description" content="Song chart of chords and lyrics for <%= song.title %> by <%= song.artist %>">
  <meta property="twitter:description" content="Song chart of chords and lyrics for <%= song.title %> by <%= song.artist %>">

  <meta property="og:image" content="https://mss.band/images/instruments.jpg">
  <meta property="twitter:image" content="https://mss.band/images/instruments.jpg">

  <meta property="og:url" content="https://mss.band/songs/<%= song.title.parameterize %>">
  <meta property="twitter:url" content="https://mss.band/song/<%= song.title.parameterize %>">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous"/>

  <%= stylesheet_link_tag 'site' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80575-33"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-80575-33');
  </script>
</head>

<body>
<div class="container mb-4">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-4">
    <a class="navbar-brand" href="/">mss.band</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/songs">Songs</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.meetup.com/mss-cha/">Chattanooga Meetup</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.meetup.com/mss-fort-payne/">Fort Payne Meetup</a></li>
      </ul>
    </div>
  </nav>

  <main role="main">
    <div class="row justify-content-center d-print-none mb-2">
      <div class="btn-group mr-4 mb-2" role="group">
        <button id="showChords" class="btn btn-success">Lyrics &amp; Chords</button>
        <button id="hideChords" class="btn btn-success">Lyrics Only</button>
      </div>

      <div class="btn-group mb-2" role="group">
        <button id="showGuitar" class="btn btn-success">Guitar</button>
        <button id="showUkulele" class="btn btn-success">Ukulele</button>
      </div>
    </div>

    <%= yield %>
  </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<%= javascript_include_tag 'site' %>
</body>
</html>

